[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
lastScreen=-1
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration]
PreloadWeight=2

[Containments][1][Applets][57][Configuration][General]
isInLatteDock=true
launchers59=applications:firefox.desktop,applications:brave-bin.desktop,applications:org.kde.dolphin.desktop,applications:systemsettings.desktop,applications:atom.desktop,applications:urxvt.desktop,applications:visual-studio-code.desktop,applications:pycharm.desktop,applications:libreoffice-startcenter.desktop,applications:spotify.desktop,applications:kitty.desktop

[Containments][1][Applets][58]
immutability=1
plugin=org.kde.activeWindowControl

[Containments][1][Applets][58][Configuration]
PreloadWeight=7

[Containments][1][Applets][58][Configuration][Appearance]
buttonSize=0.6
buttonsStandalone=true
buttonsVerticalCenter=true
controlButtonsSpacing=8
doNotHideControlButtons=true
horizontalScreenWidthPercent=0.274
showMaximize=true
showMinimize=true
showPinToAllDesktops=true
showWindowIcon=false

[Containments][1][Applets][58][Configuration][ConfigDialog]
DialogHeight=497
DialogWidth=720

[Containments][1][Applets][59]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][1][Applets][59][Configuration]
PreloadWeight=2

[Containments][1][Applets][61]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][1][Applets][61][Configuration]
PreloadWeight=2

[Containments][1][Applets][62]
immutability=1
plugin=org.kde.latte.spacer

[Containments][1][Applets][62][Configuration]
PreloadWeight=2

[Containments][1][Applets][62][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][62][Configuration][General]
lengthPixels=1080

[Containments][1][Applets][63]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][63][Configuration]
PreloadWeight=65
SystrayContainmentId=64

[Containments][1][ConfigDialog]
DialogHeight=662
DialogWidth=570

[Containments][1][Configuration]
PreloadWeight=2

[Containments][1][General]
activeIndicator=None
activeIndicatorType=DotIndicator
advanced=true
appletOrder=58;59;62;61;57;63
autoDecreaseIconSize=false
iconMargin=25
iconSize=34
middleClickAction=None
panelPosition=10
panelSize=100
panelTransparency=10
shadowOpacity=35
shadowSize=45
shadows=None
showGlow=false
solidBackgroundForMaximized=true
splitterPosition=3
splitterPosition2=5
threeColorsWindows=true
zoomLevel=0

[Containments][64]
PreloadWeight=2
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][64][Applets][65]
immutability=1
plugin=org.kde.plasma.volume

[Containments][64][Applets][65][Configuration]
PreloadWeight=32

[Containments][64][Applets][65][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][64][Applets][66]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][64][Applets][66][Configuration]
PreloadWeight=7

[Containments][64][Applets][67]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][64][Applets][67][Configuration]
PreloadWeight=7

[Containments][64][Applets][68]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][64][Applets][68][Configuration]
PreloadWeight=12

[Containments][64][Applets][69]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][64][Applets][69][Configuration]
PreloadWeight=7

[Containments][64][Applets][70]
immutability=1
plugin=org.kde.discovernotifier

[Containments][64][Applets][70][Configuration]
PreloadWeight=2

[Containments][64][Applets][71]
immutability=1
plugin=org.kde.plasma.battery

[Containments][64][Applets][72]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][64][Applets][72][Configuration]
PreloadWeight=26

[Containments][64][ConfigDialog]
DialogHeight=540
DialogWidth=703

[Containments][64][General]
extraItems=org.kde.discovernotifier,org.kde.plasma.devicenotifier,org.kde.plasma.networkmanagement,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.volume,org.kde.plasma.battery,org.kde.plasma.mediacontroller,org.kde.plasma.keyboardindicator,org.kde.plasma.clipboard
hiddenItems=KDE Daemon
knownItems=org.kde.discovernotifier,org.kde.plasma.devicenotifier,org.kde.plasma.networkmanagement,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.vault,org.kde.plasma.volume,org.kde.plasma.battery,org.kde.plasma.mediacontroller,org.kde.plasma.keyboardindicator,org.kde.plasma.clipboard
shownItems=org.kde.plasma.keyboardindicator,org.kde.plasma.devicenotifier

[LayoutSettings]
activities=
background=
color=lightskyblue
disableBordersForMaximizedWindows=false
globalLaunchers=
lastUsedActivity=d2beb2f2-f84e-421e-97e6-eeb61cfc63f2
launchers=
showInMenu=true
textColor=fcfcfc
version=2
